/*--------------------Variables--------------------*/
:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #FFFF;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #Eaf2fd;
  }

/*--------------------Normalize--------------------*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
    background-color: var(--bg-color);
}

/*--------------------Patrón del proyecto--------------------*/
textarea:focus, input:focus {
    box-shadow:0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input::placeholder, textarea::placeholder{
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
}

button{
    cursor: pointer;
}

/*--------------------Header General--------------------*/
header{
  background-color: var(--texto-destaque);
  padding: 32.5px 155px;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 30px;
    width: 40px;
}

.logo p{
    font-size: 26px;
    font-weight: bold;
}

.logo .logo-azul{
    margin-left: 10px;
    color: var(--azul-destaque);
}

